<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>RAC.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>0</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>2BC09AEE1EE7E3C100CBA356</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>2BC09B0A1EE7E3C200CBA356</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>2BC09B151EE7E3C200CBA356</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
